.chart-legend-item{
-fx-text-fill: #5AA983;
}

.default-color0.chart-series-line {
    -fx-stroke: linear-gradient(from 25% 25% to 100% 100%, #dc143c, #f1e509);
}


.default-color0.chart-line-symbol {
    -fx-background-color: #e9bb5b, #db6537;
}